/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("https://www.walldevil.com/wallpapers/a68/background-web-blue-wallpaper-images-website-twice.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}